{% extends "base.html" %}
{% block main %}

<!-- Banner -->
	<!-- Two -->
<section id="two">
	<div class="inner" style = "padding: 20px 0 1em 0;">

<h1>Редактиране на книга</h1>

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<div style="display:block; clear:both; float:none;">
<div style="width:30%; min-width: 300px; float:left; margin-right:30px;">
<form action="/update_book/{{ book.id }}" method="post">
    <p>
        <p><label for="">Заглавие</label></p>
        <input type="text" name="title" value="{{ book.title }}" required>
    </p>
    <p>
        <p><label for="">Автор</label></p>
        <input type="text" name="author" value="{{ book.author }}">
    </p>
    <p>
        <p><label for="">Резюме</label></p>
        <input type="text" name="summary" value="{{ book.summary }}">
    </p>
       <p>
        <p><label for="">Жанр</label></p>
                <select name="genre" id="genre">
					<option value="{{ book.genre }}" selected>{{ book.genre }}</option>
					{% for genre in config.genres.split(",") %}
						<option value="{{ genre }}">{{ genre }}</option>
					{% endfor %}
</select>
    </p>

{% if book.ebook %}	
								<p><label for="ebook">Електронна книга</label></p>
<select name="ebook" id="ebook">
  <option value="True">Да</option>
  <option value="False">Не</option>
</select>
    </p>
{% else %}								
<p><label for="ebook">Електронна книга</label></p>
<select name="ebook" id="ebook">
  <option value="False">Не</option>
  <option value="True">Да</option>
</select>
    </p>
{% endif %}

					{% if config.customFieldName1|length > 0 %}	
<p><label for="">{{ config.customFieldName1 }}</label></p>
        <input type="text" name="customField1" value="{{ book.customField1 }}">
    </p>
{% endif %}	
{% if config.customFieldName2|length > 0 %}	
<p><label for="">{{ config.customFieldName2 }}</label></p>
        <input type="text" name="customField2" value="{{ book.customField2 }}">
    </p>
{% endif %}
                </div>
    <div style="width:30%; min-width: 300px; float:left;">
    <p>
        <p><label for="">Библиотека</label></p>
        <input type="text" name="library" value="{{ book.library }}">
    </p>
    <p>
        <p><label for="">Рафт</label></p>
        <input type="text" name="shelf" value="{{ book.shelf }}" >
    </p>
    <p>
        <p><label for="">Колекция</label></p>
        <input type="text" name="collection" value="{{ book.collection }}" >
    </p>
    <p>
        <p><label for="">ISBN</label></p>
        <input type="text" name="ISBN" value="{{ book.ISBN }}" >
    </p>
    <p>
        <p><label for="">Бележки</label></p>
        <input type="text" name="notes" value="{{ book.notes }}" >
    </p>
    
        <p><label for="">Притежавана: </label></p>
	<select name="owned" id="owned">
		{% if book.owned %}
					<option value="{{ book.owned }}" selected>Да</option>
		{% else %}
		<option value="{{ book.owned }}" selected>Не</option>
		{% endif %}
  <option value="True">Да</option>
  <option value="False">Не</option>
</select>

        <p><label for="">Заета: </label></p>
	<select name="withdrawn" id="withdrawn">
		{% if book.withdrawn %}
					<option value="{{ book.withdrawn }}" selected>Да</option>
		{% else %}
		<option value="{{ book.withdrawn }}" selected>Не</option>
		{% endif %}
  <option value="True">Да</option>
  <option value="False">Не</option>
</select>

        </div>
    </div>
    <div style= "display:block; clear:both;float:none;">
    <input  type="submit" value="Приложи">
    
</form>
<a style = "border:none;" href = "/"> <button>Назад</button></a>
    </div>

<hr>

</div>
{% endblock %}
