{% extends "base.html" %}
{% block main %}

<!-- Banner -->
	<!-- Two -->
<div class="inner" style = "padding: 20px 0 5em 5em;">
<div style="display:block; clear:both; float:none;">
<h3><strong><u>Базата данни е остаряла</strong></u></h3>
	<p>Тя трябва да бъде обновена, преди да можете да използвате uBiblio. Процесът е автоматичен и може да бъде извършен от всеки администратор, като натисне <a href="/updateDBVersion">тук</a>.</p>
	<p>Преди да продължи, системата ще направи автоматично резервно копие за безопасност. Това резервно копие ще бъде видимо в секцията за управление на резервни копия, достъпна от главното меню, раздел „Администратор".</p>

<hr>

</div>

</div>
{% endblock %}
